.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 550ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #789;
  border-radius: 5px;
  justify-content: space-between;
  padding: 5px;
  margin: 20px;
}

.imgbox {
  width: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar {
  object-fit: contain;
}

.text {
  font-family: "Azeret Mono";
  transition: all 550ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #789;
}
.text:hover {
  color: black;
}
